body
{ 
	display: flex; 
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-around;
}

header
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
margin-top: 50px;
margin-bottom: 50px;
margin-left: 20px;
}

article
{
	display: flex;
	min-width: 50%;

}

.paragraphe-article1 , .paragraphe-article2 , .paragraphe-article3 , .paragraphe-article4 , .paragraphe-article5
{
	
	display: flex;
	margin-top: -22px;
	flex-direction: column;

}

.paragraphe-article1 , .paragraphe-article2
{

	margin-left: 150px;
}

.paragraphe-article3

{

	margin-left: 105px;

}

.paragraphe-article4
{

	margin-left: 143px;

}

.paragraphe-article5
{

	margin-left: 147px;

}


#partie-droite
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width:70%;
	margin-left: 20px;
}

aside
{
	background-color: #FFC107;
	display: flex;
	flex-direction: column;
	width: 30%;
	
}

img
{
	max-width: 60%;
	height: 60%;
}

#Photo
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 50px;
	min-height: 20%;
	
}

.Titre-partie-gauche
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #212121;
	color: #FFC107;
	text-transform: uppercase;
	height: 40px;

}	

.paragraphe-partie-gauche
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.Titre-partie-droite
{
	margin-left: 60px;
	text-transform: uppercase;
	margin-bottom: 40px;
	border-bottom:solid 1px #FFC107;

}

h1
{
	margin-bottom: 0px;
	margin-left: 20px;
	text-transform: uppercase;

}

h2
{
	margin-top: 0px;
	margin-left: 20px;
}

h3
{

}


h4
{
	margin-bottom: 0px;
}


h5
{
	margin-top: 0px;
	margin-bottom: 0px;
}

p
{
	margin-top: 0px;
	margin-bottom: 30px;
}

#Icones-loisir
{
	display: flex;
	justify-content: center;
	justify-content: space-around;

}

.fa-paint-brush, .fa-dumbbell, .fa-camera
{
	margin-top: 20px;
	color: black;
  	border: 1px solid black;
  	border-radius: 50%; 

 }

{
	color: 
}

ul 
{
	list-style: none;
}

.article-recommandation
{
	display: flex;
	justify-content: space-around;
}

time

{
	min-width: 15%;
}

i
{
	margin-right: 10px;
	color: #FFC107;
}

span
{
	color: #FFC107;
}

#Loisirs
{
	margin-top: 200px;
}

@media screen and (max-width: 991.9px)
{

	
	body
	{
		width: auto;
	}

    .paragraphe-article4
    {
    	margin-left: 180px;
    }

    .paragraphe-article5
    {
    	margin-left: 153px;
    }

    

}