body
{ 
	display: flex; 
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-around;
}

article
{
	display: flex;
	max-height: 190px;
	max-width: 880px;

}

time
{
 
 min-width: 150px;
 margin-right: 50px;

}

.paragraphe-article
{
	
	display: flex;
	margin-top: -20px;
	margin-left: 0px;
	margin-right: 0px;
	flex-direction: column;
	


}

#partie-droite
{
	display: flex;
	flex-direction: column;
	width:70%;
	margin-left: 20px;
}

aside
{
	background-color: #FFC107;
	display: flex;
	flex-direction: column;
	width: 30%;

}

img
{

	max-width: 60%;
	height: 60%;

}

#Photo
{

	display: flex;
	justify-content: center;
	align-items: center;
}

.Titre-partie-gauche
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #212121;
	color: #FFC107;
	text-transform: uppercase;
	height: 40px;
}	

.paragraphe-partie-gauche

{
	display: flex;
	justify-content: center;
	align-items: center;
}

.Titre-partie-droite
{
	margin-left: 60px;
	text-transform: uppercase;
}

h4
{
	margin-bottom: 0px;
}

h5
{
	margin-top: 0px;
	margin-bottom: 0px;
}

p
{
	margin-top: 0px;
	margin-bottom: 30px;
}