body
{ 
	display: flex; 
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-around;
}

article
{
	display: flex;
	min-width: 100%;
	max-width: 70%;

}

.paragraphe-article
{
	
	display: flex;
	margin-top: -20px;
	margin-left: 100px;
	margin-right: 0px;
	flex-direction: column;

}

#partie-droite
{
	display: flex;
	flex-direction: column;
	width:70%;
	margin-left: 20px;
}

aside
{
	background-color: #FFC107;
	display: flex;
	flex-direction: column;
	width: 30%;

}

img
{

	max-width: 60%;
	height: 60%;

}

#Photo
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.Titre-partie-gauche
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #212121;
	color: #FFC107;
	text-transform: uppercase;
	height: 40px;
}	

.paragraphe-partie-gauche

{
	display: flex;
	justify-content: center;
	align-items: center;
}

.Titre-partie-droite
{
	margin-left: 60px;
	text-transform: uppercase;
}

h1
{
	margin-bottom: 0px;
	margin-left: 20px;
	text-transform: uppercase;

}

h2

{
	margin-top: 0px;
	margin-left: 20px;
}

h4
{
	margin-bottom: 0px;
}

h5
{
	margin-top: 0px;
	margin-bottom: 0px;
}

p
{
	margin-top: 0px;
	margin-bottom: 30px;
}

#Icones-loisir
{
	display: flex;
	justify-content: center;
	justify-content: space-around;

}

ul 
{
	list-style: none;
}

.article-recommandation
{
	display: flex;
	justify-content: space-around;
}